@model FlowerShop.Application.CategoryCreateDTO
@{
    ViewData["Title"] = "Tạo Danh Mục Mới";
}

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h3>Thêm Danh Mục (Category)</h3>
        <hr />
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="CategoryName" class="form-label">Tên Danh Mục</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Mô tả</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger mb-3">
                    @Html.ValidationSummary(false)
                </div>
            }

            <button type="submit" class="btn btn-success">Lưu lại</button>
        </form>
    </div>
</div>